body {
  margin: 0;
  padding: 0;
  background-image: url(img/7598005.jpg);
  background-color: #ffd8bf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
}

.calculator {
  width: 80%;
  max-width: 600px; /* Adjust as needed */
  margin: 50px auto;
  background-color: #52fc98;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(73, 1, 63, 0.1);
}

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .calculator {
    width: 90%;
    padding: 30px 15px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .calculator {
    width: 90%;
    padding: 20px 10px;
  }
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: #2e312e;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #2e312e;
}

select,
button {
  width: 100%;
  padding: 10px; /* Increased padding for better touch experience on mobile */
  border-radius: 5px;
  border: 1px solid #c9b7b7;
  box-sizing: border-box;
  font-size: 16px; /* Adjusted font size for better readability */
}

button {
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; /* Smooth button hover effect */
}

button:hover {
  background-color: #504141;
}

.result {
  margin-top: 20px;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-box p {
  margin: 0;
  font-weight: bold;
  color: #2e312e;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .calculator {
    padding: 15px; /* Adjusted padding for smaller screens */
    margin: 20px auto; /* Adjusted margin for better centering */
  }

  h2 {
    font-size: 1.2em;
  }

  select,
  button {
    padding: 8px; /* Adjusted padding for smaller screens */
    font-size: 14px; /* Adjusted font size for smaller screens */
  }
}
/* Add styles for the restart button */
.restart-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; /* Smooth button hover effect */
  border: none;
}

.restart-btn:hover {
  background-color: #504141;
}